body {
  background-color: #000;
}

div {
  /*  border: 1px solid #09f;*/
}

#logo {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -235px;
  width: 470px;
  height: 130px;
  background-color: #222;
  border: 1px solid #777;
  color: #D4001A;
/*  font-family: "Abril Fatface";*/
/*  -webkit-transform: rotate(-10deg);*/
  text-align: center;
  margin-bottom: 0em;
}

#logo-title {
  font-size: 8em;
  text-shadow: #999 0.015em 0.02em 0.05em;
  margin: 0px;
}

#logo-subtitle {
  margin-top: -10px;
  padding: 0;
  text-align: right;
  font-size: 2.5em;
  color: #AAA;
}

#game-id {
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 2em;
  color: #DDD;
}

#footer {
  opacity: 0.4;
  color: #DDD;
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 1.2em;
  text-align: center;
  background-color: #111;
  border-top: 1px solid #777;
  bottom: 0px;
  left: 0px;
  margin: 0;
}

#footer a {
  text-decoration: none;
  color: #09f;
}

#play-area {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #222;
  width: 1000px;
  height: 700px;
  margin-left: -500px;
  margin-top: -350px;

  -moz-box-shadow: 0px 0px 10px #000000;
  -webkit-box-shadow: 0px 0px 10px #000000;
  box-shadow: 0px 0px 10px #000000;
}

.dialog {
  display: none;
  position: absolute;
  width: 500px;
  height: 350px;
  background-color: #222;
  border: 1px solid #CCC;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -175px;
  text-align: center;
  color: #DDD;
  font-size: 1.2em;
}


.title {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  color: #DDD;
  font-size: 2em;
}

.choice {
  -webkit-transition: background-color  0.02s  ease-out;
  -o-transition: background-color       0.02s  ease-out;
  transition: background-color          0.02s  ease-out;
  font-size: 18pt;
  color: #DDD;
  position: relative;
  float:left;
  background: #494949;
  text-align: center;
  border: 1px solid #999;

  /* For browsers that support css3 gradients */
  background: -moz-linear-gradient(top,  rgba(73, 73, 73, 1) 0%, rgba(51, 51, 51, 1) 100%);
  background: -webkit-linear-gradient(top,  rgba(73, 73, 73, 1) 0%, rgba(51, 51, 51, 1) 100%);
  background: linear-gradient(top,  rgba(73, 73, 73, 1) 0%, rgba(51, 51, 51, 1) 100%);
}

.choice:hover {
  background: #666;
  border: 1px solid #CCC;

  /* For browsers that support css3 gradients */
  background: -moz-linear-gradient(top,  rgba(102, 102, 102, 1) 0%, rgba(65, 65, 65, 1) 100%);
  background: -webkit-linear-gradient(top,  rgba(102, 102, 102, 1) 0%, rgba(65, 65, 65, 1) 100%);
  background: linear-gradient(top,  rgba(102, 102, 102, 1) 0%, rgba(65, 65, 65, 1) 100%);
}

.choice.pressed {
  background: #333333;
  background: -moz-linear-gradient(top,  rgba(51,51,51,1) 0%, rgba(34,34,34,1) 99%);
  background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(34,34,34,1) 99%);
  background: linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(34,34,34,1) 99%);
}

.choice.disabled, .choice.disabled:hover, .choice.disabled.pressed, .choice.disabled.pressed:hover {
  background-color: #272727;
  color: #777;
  border: 1px solid #555;
}

/* =========== */
/* = Dialogs = */
/* =========== */

/* Server Connection Timed or Websockets Not Supported Error Messages */
#failed-to-connect, #websockets-not-supported {
  display: none;
  width: 460px;
  height: 280px;
  margin-left: -250px;
  margin-top: -140px;
  padding-left: 20px;
  padding-right: 20px;
}

/* New/Join Game Dialog */

#choose-game-dialog {
  width: 500px;
  height: 250px;
  margin-left: -250px;
}

#new-game {
  position: relative;
  float: left;
  margin-left: 30px;
  margin-right: 20px;
  width: 200px;
  height: 120px;
  line-height: 120px;
}

#existing-game {
  position: relative;
  margin-right: 20px;
  float: left;
  width: 200px;
  height: 120px;
}

#join-game {
  position: absolute;
  bottom: -2px;
  width: 200px;
  height: 50px;
  line-height: 50px;
}

#join-game-id {
  top: -2px;
  text-align: center;
}

#join-game-id input {
  font-size: 1em;
  color: #DDD;
  width: 200px;
  height: 50px;
  background-color: #333;
  border: 1px solid #999;
}

/* Choose Player 1 / 2 / Spectator Dialog */

#choose-player-type-dialog {
  width: 450px;
  height: 210px;
  margin-top: -105px;
  margin-left: -225px;
}

.player-type-choice {
  left: 42px;
  margin-right: 10px;
  margin-left: 10px;
  width: 100px;
  height: 80px;
  line-height: 80px;
}

#choose-character-dialog {
  width: 500px;
  height: 450px;
  margin-left: -250px;
  margin-top: -225px;
}

#choose-character-dialog .choice {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  line-height: 60px;
  width: 90px;
  height: 60px;
}

#choose-character-dialog #character-roster {
  width: 100%;
  margin-top: 40px;
  margin-left: 30px;
}

#game-over-dialog {
  width: 400px;
  height: 200px;
}

#game-over-dialog #rematch {
  left: 140px;
  width: 120px;
  height: 70px;
  line-height: 70px;
}

/* Notifications */

#connecting-notification {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width:100%;
  background-color: orange;
  font: 1.4em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 4px 0px;
}

/* Playing Field */

.player-area {
  position: relative;
  width: 90px;
  height: 370px;
  top:50%;
  margin-top:-185px;
/*  z-index: 5;*/
}

#player-1-area {
  float: left;
  margin-left: 50px;
}

#player-2-area {
  float: right;
  margin-right: 50px;
}

/* default/blank card */
.card {
  font: 1.3em "Marvel", "Trebuchet MS", Verdana, sans-serif;
  text-transform:uppercase;
  border: 2px dotted #999;
  color: #CCC;
  position: relative;
  width: 90px;
  height: 120px;
  text-align: center;
}

/* actual card colors (ignoring placeholder cards) */
.red, .blue, .green, .none {
  font-family: "Abril Fatface";
  border: 2px solid #999;
  color: #000;
}

.red {
  background-color: #EB060B;
}

.blue {
  background-color: #375EC3;
}

.green {
  background-color: #7AB317;
}

.none {
  background-color: #DDD;
}


/* card labels */
.card-label {
  position: absolute;
}

.card-label-left {
  text-align: left;
  left: 0;
  top: 0;
}

.card-label-right {
  text-align: right;
  right: 0;
  bottom: 0;
}

.deck {
  line-height: 120px;
}

.deck:hover {
  background-color: #333;
}

.hint-draw {
  display: none;
}

.base.card {
  margin-top: -60px;
  font-weight: bold;
  float: center;
}
.hovered-base {
  background-color: #999;
/*  border-color: #DDD;*/
/*  color: #DDD;*/
}

.base .base-modifier {
  font-weight: normal;
  font-size: 12pt;
}

#lanes {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -225px;
  height: 600px;
  overflow: visible;
}

.lane {
  float: left;
  position: relative;
  width: 150px;
  height: 600px;
  border: 2px dotted #999;
  background-color: #333;
}

.hovered-lane {
  background-color: #272727;
  background: rgb(48,48,48);
  background: -moz-linear-gradient(top,  rgba(48,48,48,1) 0%, rgba(32,32,32,1) 50%, rgba(48,48,48,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(48,48,48,1)), color-stop(50%,rgba(32,32,32,1)), color-stop(100%,rgba(48,48,48,1)));
  background: -webkit-linear-gradient(top,  rgba(48,48,48,1) 0%,rgba(32,32,32,1) 50%,rgba(48,48,48,1) 100%);
  background: -o-linear-gradient(top,  rgba(48,48,48,1) 0%,rgba(32,32,32,1) 50%,rgba(48,48,48,1) 100%);
  background: -ms-linear-gradient(top,  rgba(48,48,48,1) 0%,rgba(32,32,32,1) 50%,rgba(48,48,48,1) 100%);
  background: linear-gradient(top,  rgba(48,48,48,1) 0%,rgba(32,32,32,1) 50%,rgba(48,48,48,1) 100%);
}

/* A card in a lane */
.lane .card {
  display: none; /* hidden by default, until 'rendered' */
  position: absolute;
  left:50%;
  margin-left: -45px;
  top: 50%;
}
